[Unit]
Description=FAA Tail Number Lookup API Service ({{ deploy_env }})
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_directory }}
Environment="PATH={{ app_directory }}/venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONPATH={{ app_directory }}"
ExecStart={{ app_directory }}/venv/bin/uvicorn backend.api.main:app --host 0.0.0.0 --port {{ api_port }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

